@page
@model mainChatModel
@{
    ViewData["Title"] = "Friends";
}
@{
    ViewData["auth"] = Request.Cookies["cookie_auth"];
}
<h1>@ViewData["Title"]</h1>
<br>
<div>
  @for (int i = 0; i < Model.Users.Count; i++)
  {
    <form method="post">
      <img style="height: 50px; width: 50px;" src="~/img/@Model.Users[i]["photo"]" alt="Profile Photo">
      <p><small><b>ID:</b> @Model.Users[i]["uID"] <br> <b>Name:</b> @Model.Users[i]["fname"] @Model.Users[i]["lname"] </small></p>
      <input type="hidden" asp-for="MC.uID_mChat" value="@Model.Users[i]["uID"]"/>
      <button type="submit">Chat</button>
    </form>
    <br>
    <br>
  }
</div>

<input type="hidden" id="sendButton" />





